* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgb(101, 216, 224), rgb(17, 108, 212));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* add button */
#add {
  background-color: #1b0803;
  width: 115px;
  padding: 7px;
  position: absolute;
  left: 900px;
  top: 150px;
  color: white;
  font-size: 62px;
  border-radius: 6px;
  transition-duration: 0.8s;
}
#add:hover {
  color: rgb(101, 216, 224);
	transform: rotate(90deg) scale(1.1);
}

#form {
  max-width: 350px;
  border: 1px solid black;
  color: white;
  background-image: black;
  background-color: rgb(10, 10, 10);
  margin: 90px 750px;
  padding: 25px;
  border-radius: 7px;
  font-size: 16 px;
  opacity: 0.9;
  display: none;
  z-index: 2;
  position: relative;
}
.form-delete{
  position: absolute;
  top: 5px;
  right: 5px;
}

input[type="number"],
input[type="text"] {
  display: block;
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
  padding: 5px 0 5px 10px;
  border: 1px solid grey;
  height: 40px;
}
#check-wrapper {
  margin-top: 40px;
  margin-bottom: 30px;
}
#check-wrapper label {
  display: inline;
  margin-left: 10px;
  font-size: larger;
  position: relative;
  bottom: 2px;
}

#check-wrapper input {
  width: 18px;
  height: 18px;
}

label {
  display: block;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 30px;
}
#submit {
  background-color: rgb(8, 199, 233);
  color: black;
  font-size: larger;
  padding: 10px;
  width: 250px;
  border-radius: 10px;
  margin: 0 15px 20px 15px;
  text-transform: uppercase;
}
#submit:hover {
  background-color: rgb(10, 80, 209);
}

/* remove input number arrow buttons */
/* for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.folder {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  padding: 30px;
  margin-left: 50px;
}
#display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.UNFINISHED {
  background-color: rgb(206, 18, 18);
  color: black;
}
.FINISHED {
  background-color: rgba(15, 218, 15, 0.801);
}
header {
  margin-bottom: 350px;
}
.flex {
  display: flex;
  justify-content: center;
}

/* makes the form appear and dissappear when add button is clicked */
.overlay {
  position: absolute;
  background-image: linear-gradient(black, transparent);
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
}
.invisibility {
  visibility: hidden;
}
.fade-in {
  animation: fade-in 400ms ease-in-out forwards;
}

@keyframes fade-in {
  1% {
    visibility: visible;
    opacity: 0;
  }
}

#heading-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
#heading {
  letter-spacing: 22px;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 700;
}
#underline {
  margin-top: 10px;
  border-top: 1px solid black;
  width: 400px;
}
/* folder class for each output books */
.folder {
  color: white;
  width: 250px;
  height: 300px;
  padding: 25px;
  padding-top: 40px;
  text-transform: uppercase;
  background-color: rgb(22, 20, 20);
  border-radius: 7px;
  box-shadow: 0 7px 15px rgba(12, 188, 211, 0.85);
  border-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  font-family: sans-serif;
  position: relative;
}
/* close icon */
.fa-times {
  position: absolute;
  top: 15px;
  right: 20px;
}

.fa-times:hover{
  color: red;
  transform: scale(1.3);
}
/* for toggling between finished and unfinished */
.toggle{
  position: relative;
    width: 125%;
    bottom:1px;
    right: 25px;
    padding: 10px;
    text-align: center;
}
.fa-stop-circle{
  position: absolute;
  right: 60px;
  top: 40px;
  transform: scale(3);
}
.fa-stop-circle:hover{
  transform: scale(3.2);
  outline: red;
  border: 1px solid red;
  border-radius: 50%;
}

/* selects the neighbouring span  */
.fa-stop-circle:hover+span{
  opacity: 1;
}
.delete-text{
  position: absolute;
  right: 30px;
  top: 85px;
  opacity: 0;
  color: red;
  text-transform: capitalize;
}

#add:hover+span{
  opacity: 1;
}
.add-text{
  position: absolute;
  left: 908px;
  top: 280px;
  color: #77f006;
  font-size: 20px;
  opacity: 0;
  font-family: sans-serif;
}